*{
    background-color: rgb(248, 236, 236);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    margin: 50px;
    font-size: 50px;
    color: rgb(226, 43, 208);
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

input,select{
    color:rgb(226, 43, 208);
    width: 100%;
    padding: 10px;
}


button{
    padding: 10px 20px;
    display: grid;
    margin: 10px auto;
    border-radius: 15px;
    border-color: azure;
    background-color: rgb(226, 43, 208);
    color: whitesmoke;
}


label{
    color: rgb(226, 43, 208);
    align-items: center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

option{
    color: rgb(226, 43, 208);
}


/*grid listagem livros*/
#lista-livros-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 20px;
}

figure{
    width: 100%;
    border: 2px solid #000;
    border-radius: 4px;
}

h2,h6,h5,small{
    line-height: 1.7;
}

.btn-comprar{
    width: 25%;
    background-color: rgb(246, 168, 66);
    color: aliceblue;
    margin: 14px 20px;
    margin: 8px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: grid;
}